@model UserRegistration_ado.Models.User

@{
    ViewBag.Title = "Index";
}

<style>
    /*web background*/
    .container {
        display: table;
        height: 100%;
        vertical-align: middle;
    }

    .row.well {
        display: table-cell;
        vertical-align: middle;
    }
    /* centered columns styles */
    .row-centered {
        text-align: center;
    }

    .col-centered {
        display: inline-block;
        float: left;
        /*text-align:center;*/
        margin-right: -4px;
    }

    P {
        margin-bottom: 2.5px;
    }
</style>


<div class="container">
    <div class="row row-centered">
        <div class="well col-md-6 col-centered">
            <h2>Register as User</h2>
            <p><label>Image Preview</label></p>
            <img src="~/Image/Image.png" width="120" height="120" alt="" />
            <p><label>Your Profile Pic</label></p>
            <button>Choose File</button><label>No file choseen</label>
            <div>
                @*@using (Html.BeginForm("LoginPage", "User", FormMethod.Post))*@
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                    @*<div style="float:left">*@
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10" style="float:right">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10" style="float:right">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" >
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10" >
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" >
                        @Html.LabelFor(model => model.conPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10" >
                            @Html.EditorFor(model => model.conPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.conPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div >
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Sign up" class="btn btn-default" />
                        </div>
                    </div>
                    </div>                                    
                }
            </div>
        </div>
    </div>
</div>
